{% extends 'base-super-admin.html.twig' %}

{% block title 'Nouveau utilisateur' %}

{% block body %}
    <h3 class="font-weight-bold text-uppercase">GESTION UTILISATEURS</h3>
    <hr>
    <div class="card">
        <h3 class="card-header font-weight-bold">MODIFIER UTILISATEUR</h3>
        <div class="card-body">
            {{ include('super-admin/user/_form_edit.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/cleave.js') }}"></script>
    <script src="{{ asset('assets/js/cleave-ml.js') }}"></script>
    <script>
        $('.custom-file input').change(function (e) {
            let files = [];
            for (let i = 0; i < $(this)[0].files.length; i++) {
                files.push($(this)[0].files[i].name);
            }
            $(this).next('.custom-file-label').html(files.join(', '));
        });
        new Cleave('#structure_client_add_users_0_telephone', {
            phone: true,
            phoneRegionCode: 'ML'
        });

        new Cleave('#structure_client_add_telephone', {
            phone: true,
            phoneRegionCode: 'ML'
        });
    </script>
{% endblock %}