{% extends 'base.html.twig' %}

{% block title 'Gestion station' %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur deserunt eius eligendi
        exercitationem fuga molestias, quibusdam recusandae reiciendis, repellendus totam vitae voluptas? Assumenda
        debitis illum odio omnis soluta, veritatis!</p>
{% endblock %}