{% extends 'base-dashboard-client.html.twig' %}
{% block body %}
    <h3 class="font-weight-bold">GESTION DES CLIENTS</h3>
    <hr>

    <div class="card">
        <h3 class="card-header font-weight-bold text-uppercase">Nouveau client</h3>
        <div class="card-body text-uppercase font-weight-bold">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger text-center text-uppercase font-weight-bold">
                    {{ message }}
                </div>
            {% endfor %}
            {{ include('user-client/dashboard/client-station/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block title 'Nouveau client' %}

{% block javascripts %}
    <script>
        $(".alert").delay(5000).slideUp(200, function () {
            $(this).alert('close');
        });
    </script>
{% endblock %}
