{% extends 'base-dashboard-client.html.twig' %}
{% block title 'Nouvelle cuve' %}

{% block body %}
    <h3 class="font-weight-bold">GESTION CUVE</h3>
    <hr>
    <div class="card font-weight-bold text-uppercase">
        <h3 class="card-header font-weight-bold text-uppercase">Nouvelle cuve</h3>
        <div class="card-body">
            {{ include('user-client/dashboard/cuve/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
